<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
    integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
    crossorigin="anonymous" />
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/png">
  <style>
    body{
    background: url("image/404error.jpg") no-repeat center center fixed;
    background-size: cover;
    
  }
</style>
  <title>IIIT Surat</title>
</head>

<body>

  <div class="head">
    <div class="description">
      <img src="image/img1.jpg" alt="">
      <div class="desc-child">
        <h1 class="desc-child" style="font-family: 'Baloo Bhai 2', cursive;">Department of computer science engineering

        </h1>

        {{!-- <h7>Indian Institute of Information Technology,Surat</h7> --}}
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/courses">courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/research">research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project">project</a>
            </li>
 <li class="nav-item">
              <a class="nav-link" href="/faculty">faculty</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>





  </div>
     {{!-- <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h3> Indian Institute Of Information Technology </h3>
          <p class="text-justify"> SVNIT Campus

            Ichchanath, Surat - 395007
            <br>
            Phone : 0261-2204322(O)
            <br>
            Email : office.iiitsurat@gmail.com
          </p>
        </div>


        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://iiitsurat.ac.in/about-us.html">About Us</a></li>
            <li><a href="http://iiitsurat.ac.in/contact-us.html">Contact Us</a></li>
            <li><a href="http://iiitsurat.ac.in/Career.html">Career</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
            <a href="#">Scanfcode</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook"
                href="http://www.facebook.com/iiitsuratofficial/?__xts__[0]=68.ARD76EssWpz-cpCuXG8r9rUeP4WNMp6EBLsrNDWhnPq63F3TOq5Smv9LWD8rkLI3RtmAihBmBPIImvtYnsptMoIuih8sjp3JZ3sI3WDETtiH3KzxdhZCkuQtJt9_Qp2CzlZW7nv-t856"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="http://twitter.com/IIITSurat"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/school/iiitsurat/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer> --}}
</body>

</html>