<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
    integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
    crossorigin="anonymous" />
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/png">
  <title>IIIT Surat</title>
</head>

<body>

  <div class="head">
    <div class="description">
      <img src="image/img1.jpg" alt="">
      <div class="desc-child">
        <h1 class="desc-child" style="font-family: 'Baloo Bhai 2', cursive;">Department of computer science engineering

        </h1>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/courses">courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/research">research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project">project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faculty">faculty</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>





  </div>

  <div class="container-fluid main_header p-bod">


    <!-- left side div -->
    <h1 style="font-family: 'Baloo Bhai 2', cursive;">About CSE</h1>
    <P>The Department of Computer Science and Engineering (CSE) was set up in 2017. It is one of the department
      under the School of Engineering and offers Bachelor of Technology (BTech) and Doctor of Philosophy (PhD) programs.
      The department adopts a modern approach to teaching wherein students are rendered in adequate academic freedom to
      innovate and learn in the process. State of the art facilities including the latest software and advanced hardware
      are available in various laboratories for the use in both teaching and research. This facilitates adequate
      implementation of major B.Tech projects and for verification and validation of research results.

      The faculty members of the department are from diverse streams and specializations. Being a part of an emerging
      and relatively new institute, together with extremely competent research faculty, the Computer Science and
      Engineering faculty of IIIT Surat offer a unique interactive platform for the students to explore the arena of
      fundamental and applied research.
    </P>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel"
    style="background-color: blanchedalmond;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-inner" role="listbox" style=" width:80%; height: 400px !important;margin: auto;">
          <img class="w-100" src="image/iiiit2.jpg" alt="First slide">
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-inner" role="listbox" style=" width:80%; height: 400px !important;margin: auto;">
          <img class="w-100" src="image/th.jpg" alt="Second slide">
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    {{!-- olore deleniti sciunt pariatur. Quos ea, quidem pariatur dolor eos voluptates, esse quas tempora corrupti
    cupiditate officia assumenda recusandae ut architecto dignissimos numquam minus vero debitis cum. Accusantium
    asperiores provident harum ratione quo, repellat optio molestiae iure, maiores hic ab rerum eligendi reiciendis id
    assumenda magni. Explicabo molestias corrupti modi, mollitia consequatur neque quam sapiente doloribus accusantium
    delectus aspernatur voluptate alias rem blanditiis non cum dicta atque suscipit autem pariatur? Placeat animi harum
    accusamus quisquam earum explicabo! Eius, maiores rem veniam dolorem voluptas iusto asperiores delectus, magni
    officiis, perspiciatis quasi officia incidunt modi voluptate nulla blanditiis eos libero! Quas fugit laudantium
    quasi odio voluptatum perferendis fugiat. Sequi repudiandae atque esse dolore sunt debitis dignissimos adipisci nemo
    reiciendis quisquam magni quas ratione illo ex vero veniam unde quaerat nulla, eaque quasi vitae pariatur! Neque
    iure non laborum asperiores cupiditate, consequuntur harum earum, quod adipisci laudantium commodi veniam architecto
    ullam? Quae tenetur unde, dicta atque repudiandae necessitatibus laborum maxime dolor eaque soluta quo tempora
    assumenda fugit, quas, id at exercitationem fuga voluptas! Alias explicabo error voluptatibus a magnam, distinctio,
    natus laboriosam possimus cupiditate provident accusamus? Aspernatur sapiente dicta iusto ut quibusdam asperiores
    nostrum eligendi perferendis quo obcaecati expedita ab nam, reiciendis, amet fugiat atque quos molestiae. Nostrum
    voluptates, minus quaerat voluptatem praesentium hic tempora a quibusdam fuga maxime libero sit assumenda quos
    inventore. Modi ipsam inventore dignissimos aliquid adipisci doloremque fugit? Nam eligendi velit sit aliquam minus
    minima, saepe repudiandae nihil, ut consequuntur labore eius, qui eaque in ducimus soluta ipsa! Eius, iusto.
    Corporis iusto ad mollitia dolore ab rem minus, ullam odio explicabo?</p> --> --}}

    <div class="field-item even p-bod fix" property="content:encoded" style="font-family: 'Baloo Bhai 2', cursive;">
      <p>
        <spanstyle="font-family: 'Baloo Bhai 2' , cursive;"><span style="font-family: 'Baloo Bhai 2', cursive;"><span
              style="font-size:16px;"><strong><u>VISION OF THE DEPARTMENT</u></strong></span></span></span>
      </p>

      <p><span style="font-family: 'Baloo Bhai 2', cursive;"><span
            style="font-family:times new roman,times,serif;"><span style="font-size:16px;">To be in the frontier of
              Computer Science and Engineering and to produce globally
              competent graduates with moral values committed to build a vibrant nation.</span></span></span></p>

      <p><span style="font-family: 'Baloo Bhai 2', cursive;"><span style="font-family: 'Baloo Bhai 2', cursive;"><span
              style="font-size:16px;"><strong><u>MISSION OF THE DEPARTMENT</u></strong></span></span></span></p>

      <ul>
        <li>
          <spanstyle="font-family: 'Baloo Bhai 2' , cursive;"><span style="font-family: 'Baloo Bhai 2', cursive;"><span
                style="font-size:16px;">To strengthen the core competence in Computer Science and Engineering through
                analytical learning.</span></span></span>
        </li>
        <li><span style="font-family: 'Baloo Bhai 2', cursive;"><span style="font-family: 'Baloo Bhai 2', cursive;""><span
              style=" font-size:16px;">To produce successful graduates with personal and professional responsibilities
              and commitment to lifelong learning.</span></span></span></li>
        <li><span style="font-family: 'Baloo Bhai 2', cursive;"><span style="font-family: 'Baloo Bhai 2', cursive;""><span
              style=" font-size:16px;">To uplift innovative research in Computer Science and Engineering to serve the
              needs of Industry, Government and Society</span></span></span></li>
      </ul>
    </div>
    <div class="info">

      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
        <ul class="nav nav-pills" style="font-family: 'Baloo Bhai 2', cursive;">
          <h4>News</h4>
          <!--<li style="width: 56%;  margin: 0;"><a style="border-radius: 0%; text-align: center; font-size: 1.2em; font-family: 'Josefin Sans', sans-serif;" data-toggle="pill" href="#menu1">RECRUITMENTS</a></li>-->
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane  in active">
            <div class="News-list" style="height: 400px; overflow-y: scroll;    background-image:  linear-gradient(to bottom, #eff3f6,#9cb7c9); box-sizing: border-box; border: 1px solid #5d8aa8;
     ">
              <ul id="NEWS" class="News fa-ul" style="font-family: Sintony, sans-serif !important;">
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Team ByteBandits <b>Vishnunarayan
                      K, Mrigank Krishan, Vaibhav Anand &amp; Sarthak Jain </b>(representing IIIT Surat) has secured the
                    1st place (India) and 8th globally in CSAWdfh CTF (Finals) 2020 held online.</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, <b>Ms. Arushi
                      Jain,</b> of CSE receives The Institute Silver Medal in the 2020 Convocation of IIIT Surat.</span>
                </li>

                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span><b>Dr. Somnath Dey</b>, has taken
                    over as the new Head of Discipline of CSE from Oct 3, 2020</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Team <b>FenmentTree of CSE</b>, IIIT Surat consisting of Mr. Kumar Abhinav,
                      Mr.
                      GVS Akhil and Mr. Kalpit Kothari made it to the World Finals of the ICPC 2020.</font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>11 PhD and 39 BTech students
                    receive degree in 2019 convocation of IIIT Surat held on 16-Nov-2019. Click here to see the complete
                    list. <a href="docs/CSE_PhD_graduating_students_v1.pdf">PhD</a>, <a
                      href="docs/CSE_BTech_graduationg_students_list_v1.pdf">BTech</a></span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Team ByteBandits of CSE, IIIT Surat consisting of Mrigank Krishan, Vaibhav
                      Anand, Vishnunarayan K I and Sarthak Jain secured 1st place in India and 9th globally in CSAW CTF
                      (Finals) 2019 held at IIT Kanpur from November 6 - 9, 2019.<a href="latest_news.php"> More
                        Details</a></font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, Mr. Rahul
                    Choudhary, of CSE receives The President of India Gold Medal in the 2019 Convocation of IIIT
                    Surat.</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Graduating student, Ms. Apoorva Joshi, of CSE receives The Institute Silver
                      Medal in the 2019 Convocation of IIIT Surat e.</font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, Mr. Vinit
                    Haresh Shah, of CSE receives The Institute Silver Medal in the 2019 Convocation of IIIT
                    Surat.</span>
                </li>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 nc">
        <ul class="nav nav-pills">

          <h4>Events</h4>
          <!--<li style="width: 56%;  margin: 0;"><a style="border-radius: 0%; text-align: center; font-size: 1.2em; font-family: 'Josefin Sans', sans-serif;" data-toggle="pill" href="#menu1">RECRUITMENTS</a></li>-->
        </ul>
        <div class="tab-content">
          <div id="home" class="tab-pane  in active">
            <div class="News-list" style="height: 400px; overflow-y: scroll;    background-image:  linear-gradient(to bottom, #eff3f6,#9cb7c9); box-sizing: border-box; border: 1px solid #5d8aa8;
     ">
              <ul id="NEWS" class="News fa-ul" style="font-family: Sintony, sans-serif !important;">
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Team ByteBandits <b>Vishnunarayan
                      K, Mrigank Krishan, Vaibhav Anand &amp; Sarthak Jain </b>(representing IIIT Surat) has secured the
                    1st place (India) and 8th globally in CSAWdfh CTF (Finals) 2020 held online.</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, <b>Ms. Arushi
                      Jain,</b> of CSE receives The Institute Silver Medal in the 2020 Convocation of IIIT Surat.</span>
                </li>

                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span><b>Dr. Somnath Dey</b>, has taken
                    over as the new Head of Discipline of CSE from Oct 3, 2020</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Team <b>FenmentTree of CSE</b>, IIIT Surat consisting of Mr. Kumar Abhinav,
                      Mr.
                      GVS Akhil and Mr. Kalpit Kothari made it to the World Finals of the ICPC 2020.</font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>11 PhD and 39 BTech students
                    receive degree in 2019 convocation of IIIT Surat held on 16-Nov-2019. Click here to see the complete
                    list. <a href="docs/CSE_PhD_graduating_students_v1.pdf">PhD</a>, <a
                      href="docs/CSE_BTech_graduationg_students_list_v1.pdf">BTech</a></span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Team ByteBandits of CSE, IIIT Surat consisting of Mrigank Krishan, Vaibhav
                      Anand, Vishnunarayan K I and Sarthak Jain secured 1st place in India and 9th globally in CSAW CTF
                      (Finals) 2019 held at IIT Kanpur from November 6 - 9, 2019.<a href="latest_news.php"> More
                        Details</a></font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, Mr. Rahul
                    Choudhary, of CSE receives The President of India Gold Medal in the 2019 Convocation of IIIT
                    Surat.</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Graduating student, Ms. Apoorva Joshi, of CSE receives The Institute Silver
                      Medal in the 2019 Convocation of IIIT Surat e.</font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, Mr. Vinit
                    Haresh Shah, of CSE receives The Institute Silver Medal in the 2019 Convocation of IIIT
                    Surat.</span>
                </li>







            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
        <ul class="nav nav-pills">
          <h4>Announcement</h4>
          <!--<li style="width: 56%;  margin: 0;"><a style="border-radius: 0%; text-align: center; font-size: 1.2em; font-family: 'Josefin Sans', sans-serif;" data-toggle="pill" href="#menu1">RECRUITMENTS</a></li>-->
        </ul>

        <div class="tab-content">
          <div id="home" class="tab-pane  in active">
            <div class="News-list" style="height: 400px; overflow-y: scroll;    background-image:  linear-gradient(to bottom, #eff3f6,#9cb7c9); box-sizing: border-box; border: 1px solid #5d8aa8;
     ">
              <ul id="NEWS" class="News fa-ul" style="font-family: Sintony, sans-serif !important;">
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Team ByteBandits <b>Vishnunarayan
                      K, Mrigank Krishan, Vaibhav Anand &amp; Sarthak Jain </b>(representing IIIT Surat) has secured the
                    1st place (India) and 8th globally in CSAWdfh CTF (Finals) 2020 held online.</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, <b>Ms. Arushi
                      Jain,</b> of CSE receives The Institute Silver Medal in the 2020 Convocation of IIIT Surat.</span>
                </li>

                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span><b>Dr. Somnath Dey</b>, has taken
                    over as the new Head of Discipline of CSE from Oct 3, 2020</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Team <b>FenmentTree of CSE</b>, IIIT Surat consisting of Mr. Kumar Abhinav,
                      Mr.
                      GVS Akhil and Mr. Kalpit Kothari made it to the World Finals of the ICPC 2020.</font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>11 PhD and 39 BTech students
                    receive degree in 2019 convocation of IIIT Surat held on 16-Nov-2019. Click here to see the complete
                    list. <a href="docs/CSE_PhD_graduating_students_v1.pdf">PhD</a>, <a
                      href="docs/CSE_BTech_graduationg_students_list_v1.pdf">BTech</a></span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Team ByteBandits of CSE, IIIT Surat consisting of Mrigank Krishan, Vaibhav
                      Anand, Vishnunarayan K I and Sarthak Jain secured 1st place in India and 9th globally in CSAW CTF
                      (Finals) 2019 held at IIT Kanpur from November 6 - 9, 2019.<a href="latest_news.php"> More
                        Details</a></font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, Mr. Rahul
                    Choudhary, of CSE receives The President of India Gold Medal in the 2019 Convocation of IIIT
                    Surat.</span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>
                    <font color="#801010">Graduating student, Ms. Apoorva Joshi, of CSE receives The Institute Silver
                      Medal in the 2019 Convocation of IIIT Surat e.</font>
                  </span></li>
                <li><i class="far fa-newspaper" style="padding-right: 10px;"></i><span>Graduating student, Mr. Vinit
                    Haresh Shah, of CSE receives The Institute Silver Medal in the 2019 Convocation of IIIT
                    Surat.</span>
                </li>







            </div>
          </div>
        </div>
      </div>







    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h3> Indian Institute Of Information Technology </h3>
            <p class="text-justify"> SVNIT Campus

              Ichchanath, Surat - 395007
              <br>
              Phone : 0261-2204322(O)
              <br>
              Email : cseoffice.iiitsurat@gmail.com
            </p>
          </div>


          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="http://iiitsurat.ac.in/about-us.html">About Us</a></li>
              <li><a href="http://iiitsurat.ac.in/contact-us.html">Contact Us</a></li>
              <li><a href="http://iiitsurat.ac.in/Career.html">Career</a></li>

            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
              <a href="#">IIIT Surat</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook"
                  href="http://www.facebook.com/iiitsuratofficial/?__xts__[0]=68.ARD76EssWpz-cpCuXG8r9rUeP4WNMp6EBLsrNDWhnPq63F3TOq5Smv9LWD8rkLI3RtmAihBmBPIImvtYnsptMoIuih8sjp3JZ3sI3WDETtiH3KzxdhZCkuQtJt9_Qp2CzlZW7nv-t856"><i
                    class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="http://twitter.com/IIITSurat"><i class="fa fa-twitter"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/school/iiitsurat/"><i
                    class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
</body>

</html>