<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="css/index.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.1.0/css/v4-shims.min.css"
    integrity="sha512-p++g4gkFY8DBqLItjIfuKJPFvTPqcg2FzOns2BNaltwoCOrXMqRIOqgWqWEvuqsj/3aVdgoEo2Y7X6SomTfUPA=="
    crossorigin="anonymous" />
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&display=swap" rel="stylesheet">
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" href="favicon.ico" type="image/png">
  <title>IIIT Surat | project</title>
</head>

<body>

  <div class="head">
    <div class="description">
      <img src="image/img1.jpg" alt="">
      <div class="desc-child">
        <h1 class="desc-child" style="font-family: 'Baloo Bhai 2', cursive;">Department of computer science engineering
        </h1>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/courses">courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/research">research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project">project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faculty">faculty</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="contents">
    <h1>Student Projects</h1>
    <hr>
    <div class="other">
      <div class="details">
        <p class="head"><strong>Analysis of the Spread of Information on Twitter and its
            Application to Internet Content Distribution:</strong></p>
        <p class="info">With rapidly growing traffic volumes on the Internet, service providers are finding
          it increasingly hard to manage delivery of content to end users. We observe that a
          large portion of the traffic is contributed and accessed by Online Social Networking
          (OSN) websites, and we attempt to leverage this fact to build better content placement
          and caching strategies for Content Delivery Networks (CDNs). Through a large measurement
          study of OSN datasets, we show that highly popular topics cross regional geographic boundaries,
          and time-zone differences can be used to potentially improve content prefetching policies. Through
          an event-based analysis, we show that topic popularity peaks when multiple small components
          in the social graph coalesce together to form a single giant component. We also show that to
          track topic trends, it is sufficient to track a small percentile of the most popular users rather
          than track all users. Finally, we apply these insights to design OSN-aided caching policies in CDNs,
          but we discover that simple LRU caching does quite well unless cache sizes are very small.
          This is a significant negative result that can help guide other researchers interested in
          applying OSN signals to improve Internet performance. Our contributions also go beyond just
          scoping the potential of using OSN signals to aid content distribution our insights can find
          applications in the placement of advertisements on OSN websites, information recommendation,
          and other areas of work we hope to explore in the future.</p><br>
        <p class="area"><u>Research Area</u>: Computer Networks and Distributed Systems</p>
        <p class="prby"><u>Project By</u>: Nihal Jaiswal, Anish choudhry, Ujjwal Kumar</p>
        <p class="suby"><u>Supervised By</u>: Dr. Pradeep Kumar Roy</p>
      </div>
      <div class="details">
        <p class="head"><strong>The rich and middle classes on Twitter: Are popular users indeed different from
            regular users?</strong></p>
        <p class="info">Online social networking (OSN) websites such as Twitter and Facebook are known to have a
          wide heterogeneity
          in the popularity of their users, counted typically in terms of the number of followers or friends
          of the
          users. We add to the large body of work on information diffusion on online social networking
          websites, by
          studying how the behavior of the small minority of very popular users on Twitter differs from that
          of the
          bulk of the population of ordinary users, and how these differences may impact information
          diffusion.
          Our findings are somewhat counter intuitive. We find that on aggregate metrics such as the tweeting
          volume
          and degree of participation on different topics, popular users and ordinary users seem similar to
          each
          other. We also find that although popular users do seem to command an influential position in
          driving the
          popularity of topics on Twitter, in practice they do not affect growth rates of user participation
          and
          the causality of popular users driving event popularity is hard to establish. Our main contribution
          is to
          show that accurately capturing the similarity and differences between different segments of the user
          population can help OSN applications fine tune their design.</p><br>
        <p class="area"><u>Research Area</u>: Computer Networks and Distributed Systems</p>
        <p class="prby"><u>Project By</u>: Aman Raj Sharma, Krishna Kumar</p>
        <p class="suby"><u>Supervised By</u>: Ms. Mittal Patel </p>
      </div>
      <div class="details">
        <p class="head"><strong>Fast Dynamic Binary Translation for the
            Kernel:</strong></p>
        <p class="info">Dynamic binary translation (DBT) is a powerful technique with several important
          applications.
          System-level binary translators have been used for implementing a Virtual Machine Monitor [2] and
          for instrumentation in the OS kernel [10].
          In current designs, the performance overhead of binary translation on kernel-intensive workloads is
          high.
          e.g., over 10x slowdowns were reported on the syscall nanobenchmark in [2], 2-5x slowdowns were
          reported on lmbench microbenchmarks in [10]. These overheads are primarily due to the extra work
          required to correctly handle kernel mechanisms like interrupts, exceptions, and physical CPU
          concurrency. We present a kernel-level binary translation mechanism which exhibits near-native
          performance even on applications with large kernel activity. Our translator relaxes transparency
          requirements and aggressively takes advantage of kernel invariants to eliminate sources of slowdown.
          We have implemented our translator as a loadable module in unmodified Linux, and present performance
          and scalability experiments on multiprocessor hardware. Although our implementation is Linux
          specific, our mechanisms are quite general; we only take advantage of typical kernel design
          patterns, not Linux-specific features. For example, our translator performs 3x faster
          than previous kernel-level DBT implementations while running the Apache web server.</p><br>
        <p class="area"><u>Research Area</u>: Computer Networks and Distributed Systems</p>
        <p class="prby"><u>Project By</u>: Ujjwal Kumar, Ajay K</p>
        <p class="suby"><u>Supervised By</u>: Ms. Urvashi Mistry</p>
      </div>
      <div class="details">
        <p class="head"><strong>Result Clustering for Keyword Search on
            Graphs:</strong></p>
        <p class="info">Graph structured data on the web is now massive as well as diverse, ranging from social
          networks, web graphs to knowledge-bases.
          Effectively querying this graph structured data is non-trivial and has led to research in a variety
          of directions structured queries, keyword and natural language queries, automatic translation of
          these queries to structured queries, etc.
          In this project, we are concerned with a class of queries called relationship queries, which are
          usually expressed as a set of keywords (each keyword denoting a named entity). The results returned
          are a set of ranked trees, each of which denotes relationships among the various keywords. The
          result list could consist of hundreds of answers. The problem of keyword search on graphs has been
          explored for over a decade now, but an important aspect that is not as extensively studied is that
          of user experience. In this project, we focus on the problem of presenting results of a keyword
          search to users. Our approach is to present a clustering of results rather than single results. The
          novelty of our approach lies in the fact that we use language models to represent result trees and
          our clustering algorithm makes use of the JS-divergence as the distance measure. We compare our
          approach with the existing approaches based on isomorphism between trees and tree-edit distance.
          The LM based clusters formed are highly cohesive and clearly separated from each other.</p><br>
        <p class="area"><u>Research Area</u>: Computer Networks and Distributed Systems</p>
        <p class="prby"><u>Project By</u>: Aryan J Bhatt</p>
        <p class="suby"><u>Supervised By</u>: Dr. Reema Patel</p>
      </div>
      <div class="details">
        <p class="head"><strong>Towards developing a Technical Knowledge-Base for
            Personalized
            Learning:</strong></p>
        <p class="info">A commonly faced challenge by enthusiastic learners is to build a complete and
          well-rounded understanding of a topic of interest.
          While understanding the big picture is equally important, it is also necessary that the learning
          material be presented to the user in the correct order.
          Understanding the content from a textbook would be too overwhelming for a reader who has very little
          background on a topic of interest. On the other hand, looking for documents on Web would not provide
          a point to start reading from since there are unlimited sources available on the Web. The background
          of a learner could be different from the background of another learner on a topic. The
          requirement of well-rounded understanding of a topic of interest increases many fold in the
          technical domain where clarity of concepts is a pre-requisite for researchers to establish
          ground-breaking research. Computer Science is suitable field that is rich with technical concepts.
          There exists a need to build a system that would provide a personalized reading order along with
          appropriate background for a topic of interest for a user. This work will focus on building a
          Technical Knowledge Base
          that will aid in providing personalized lecture notes to enthusiastic learners.</p><br>
        <p class="area"><u>Research Area</u>: Computer Networks and Distributed Systems</p>
        <p class="prby"><u>Project By</u>: Nihal Jaiswal, Anish choudhry</p>
        <p class="suby"><u>Supervised By</u>: Dr. Pradeep Kumar Roy</p>
      </div>
    </div>
  </div>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h3> Indian Institute Of Information Technology </h3>
          <p class="text-justify"> SVNIT Campus

            Ichchanath, Surat - 395007
            <br>
            Phone : 0261-2204322(O)
            <br>
            Email : cseoffice.iiitsurat@gmail.com
          </p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="http://iiitsurat.ac.in/about-us.html">About Us</a></li>
            <li><a href="http://iiitsurat.ac.in/contact-us.html">Contact Us</a></li>
            <li><a href="http://iiitsurat.ac.in/Career.html">Career</a></li>

          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2017 All Rights Reserved by
            <a href="#">IIIT Surat</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook"
                href="http://www.facebook.com/iiitsuratofficial/?__xts__[0]=68.ARD76EssWpz-cpCuXG8r9rUeP4WNMp6EBLsrNDWhnPq63F3TOq5Smv9LWD8rkLI3RtmAihBmBPIImvtYnsptMoIuih8sjp3JZ3sI3WDETtiH3KzxdhZCkuQtJt9_Qp2CzlZW7nv-t856"><i
                  class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="http://twitter.com/IIITSurat"><i class="fa fa-twitter"></i></a></li>
            <li><a class="linkedin" href="https://www.linkedin.com/school/iiitsurat/"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
<style>
  * {
    margin: 0% 0%;
    padding: 0% 0%;
  }

  body {
    background-color: rgb(250, 255, 241);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  }

  .contents {
    border: 3px solid silver;
    border-radius: 10px;
    background-color: rgb(250, 238, 238);
    width: 75%;
    margin: 1% auto;
  }

  h1 {
    display: block;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
  }

  hr {
    border-top: 2px solid rgb(194, 195, 196);
  }

  .other {
    border-radius: 4px;
  }

  .details {
    margin: 3% 1%;
    background-color: rgb(355, 215, 218);
    border-radius: 5px;
    padding: 1%;
  }

  .head {
    margin-bottom: 1.5%;
  }

  .area {
    margin-top: 1%;
  }

  strong {
    text-decoration: underline;
    color: rgb(28, 12, 248);
  }
</style>

</html>